.container {
  display: flex;
  flex-direction: column;
}
.color_palette {
  display: flex;
  width: fit-content;
}
.color_item {
  border: 1px solid black;
  height: 80px;
  width: 80px;
}
.title {
  margin: 15px;
}
.selected {
  border: 1px solid red;
}
